.dir-content {
    
    /* overflow: hidden; */
    display: grid;
    /* gap: 5px; */
    justify-content: center;
    grid-template-columns: repeat(9, 10vw);
 
}

@media (max-width: 1000px)  {
    .dir-content {
        grid-template-columns: repeat(4, 190px);
    }
}

@media (max-width: 600px) {
    .dir-content {
        grid-template-columns: repeat(2, 200px);
    }
}