
.dir-content {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(9, 10vw);
    overflow: scroll;
}

.void-dir {
    width: 90vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: var(--smoothBlueEve); */
   /*  border: red solid; */
}


@media (max-width: 1000px)  {
    .dir-content {
        grid-template-columns: repeat(4, 190px);
    }
}

@media (max-width: 600px) {
    .dir-content {
        grid-template-columns: repeat(2, 200px);
    }
}