@import url('../../styles/style.css');

.generic-button {
    border: none;
    padding: 15px;
    border-radius: var(--btnBorderRadiusEve);
}

.generic-button:hover {
    font-weight: bold;
    background-color: var(--solidBlueEve);
}