@import url('../../styles/style.css');

.box-home-content {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--smoothBlueEve);
}

section {
    width: 98%;
    height: 98%;
    background-color: white;
    overflow: scroll;
    border-radius: var(--conersBorderRadiusEve);
    flex-direction: column;
    
}
.home-footer {
    width: 100%;
    height: 300px;
    background-color: red;
}

.pseudo-footer {
    width: 100%;
    height: 20px;
    background-color: transparent;
}
